.Wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row nowrap;
    height: 12.5dvh;
    background-color: var(--primary_color);
    box-shadow: 0 0 0.5dvw var(--primary_color);    
    position: fixed;
    width: 100%;
    padding: 0 2dvw 0 2dvh;
}
.Logo {
    height: 80%;
    width: 80%;
    cursor: pointer;
    transition: 250ms;
}