.Wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    width: 100%;
    margin-top: 34dvh;
    height: fit-content;
}
.ViewWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
    width: 100%;
    /* height: 100%; */
}
.Content, .Lab {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    height: 100%;
}
.Content {
    width: 15%;
    background-color: var(--primary_color);
}
.Lab {
    width: 85%;
    background-color: var(--secondary_color_3);
    border-width: 0 0.15em 0 0;
    border-style: solid;
    border-color: var(--primary_color);
}