.Wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: column nowrap;
    width: 100%;
    height: 87.5dvh;
}
.Grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 2fr 1fr 2fr;
    grid-template-areas: "tl tr tr"
                         "bl tr tr"
                         "bl bm br";
    width: 80%;
    height: 70%;
    gap: 1dvw;
}
.TopLeft { grid-area: tl; }
.BottomLeft { grid-area: bl; }
.TopRight { grid-area: tr; }
.BottomMiddle { grid-area: bm; }
.BottomRight { grid-area: br; }